.container {
  padding: 0 1rem;
  margin-top: 2.5rem;
}
.my_5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
.my_5__bg_black {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  --tw-bg-opacity: 1;
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.Media {
  position: relative;
  padding: 15px;
  background-color: white;
  color: black;
  width: 85%;
  font-size: 36px;
  font-weight: 200;
  cursor: pointer;
  max-height: 400px;
  min-width: 260px;
  max-width: 600px;
}
.Content {
  /* align-items: center;
  text-align: center; */
}
.Center {
  align-items: center;
  text-align: center;
}
.BannerGrid {
  overflow: hidden;
  /* padding: 20px 0; */
  align-items: center;
}
.White {
  border-radius: 9999px;
  color: red;
  background-color: red;
  background: #fff;
}
